html, body{
	margin: 0;
	padding: 0;
	font-family: Arial;
	background: #f5f5f5;
	min-width: 333px;
}

.my-btn:focus, .my-btn:active{
	outline: 0;
}
.error{
	outline: 2px solid red;
}

.my-font{
	background: #f5f5f5;
}

.my-border{
	border: 2px solid #ebebeb;
}

.newdeal-name{
	height: 45px;
	resize: none;		
}
	.newdeal-name:focus, .newdeal-name:active{
		outline: 2px solid #007bff;
	}

.newdeal-description{
	height: 105px;
	resize: none;
}
	.newdeal-description:focus, .newdeal-description:active{
		outline: 2px solid #007bff;
	}

.newdeal-btn{
	width: 225px;
	height: 55px;
	border-style: none;
	font-size: 16px;
}
